.counter{
    display: flex;
    align-items: center;
}
.sub,.add{
    border: none;
    background-color: #FCBF49;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    font-size: 14px;
    padding: 0;
}


.sub{
    background-color: white;
    border:1px solid black ;
}

.count{
    font-size: 16px;
    margin: 0 5px;
}